* {
    font-family: "Rubik", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.weather-container {
    display: flex;
    justify-content: center;
}

div#getWeather {
    display: flex;
    justify-content: center;
}

input {
    border: 2px solid rgba(63, 81, 181, 0.3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    transition: 0.3s ease;
    border-right: transparent;
    font-size: 20px;
    color: #1f2937;
}

input::placeholder {
    font-size: 20px;
    color: #1f2937;
}

input:focus {
    border-color: #3f51b5;
    outline: none;
}

button {
    background-color: #3f51b5;
    font-size: 20px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    transition: 0.3s ease;
}

button:hover {
    background-color: #303f9f;
}


.weather-widget {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #3f51b5;
    border-radius: 30px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05), 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
    color: #ffffff;
}

.weather-widget-title {
    font-size: 28px;
    padding-bottom: 5px;
    font-weight: 700;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.weather-widget-info {
    font-size: 18px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

span {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    width: 45px;
}

.error {
    font-size: 18px;
    color: red;
}
